<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>EWIC Portfolio Monitor</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" media="all" href="../../resources/styles/main.css" th:href="@{resources/styles/main.css}" />
		<!-- Start css3menu.com HEAD section -->
		<link rel="stylesheet" href="/resources/styles/style.css" th:href="@{resources/styles/style.css}" type="text/css" />
		<style type="text/css">._css3m{display:none}</style>
		<!-- End css3menu.com HEAD section -->
	</head>
	<body>
		<div id="header" th:include="fragments :: header"></div>
		<div id="toolbar" th:include="fragments :: menubar"></div>
		<div id="menu" th:include="fragments :: leftsidebar"></div>
		<div>
			<br />
			<span class="bodyHeading">Change Password</span>
			<form action="#" th:action="@{/changePassword.html}" th:object="${changePasswordForm}" method="post">
				<table>
					<tr>
						<td>Old Password</td>
						<td><input type="password" th:field="*{oldPassword}" /></td>
					</tr>
					<tr>
						<td>New Password</td>
						<td><input type="password" th:field="*{newPassword}" /></td>
					</tr>
					<tr>
						<td>Retype New Password</td>
						<td><input type="password" th:field="*{confirmPassword}" /></td>
					</tr>
					<tr>
						<td colspan="2" align="center"><input type="submit" value="Change Password" /></td>
					</tr>
				</table>
			</form>
		</div>
		<div id="footer" th:include="fragments :: footer"></div>
	</body>
</html>